<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qianyi.shine">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--高德定位开始-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="bef91b325ee3115b60dba2764a3dbf03"/>
        <service android:name="com.amap.api.location.APSService"/>
        <!--高德定位结束-->
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            >
        </activity>
        <!--登录界面-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.account.activity.LoginActivity">
        </activity>
        <!--估分-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.account.activity.GuessScoreActivity"/>
        <!--大学主页-->
        <activity android:name=".ui.college.activity.CollegeActivity"
            android:screenOrientation="portrait"
            />
        <!--专业主页-->
        <activity android:name=".ui.college.activity.ProfessionalActivity"
            android:screenOrientation="portrait"
            />

        <!--更多大学-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.college.activity.MoreCollegeActivity"
            />
        <!--高考头条-->
        <activity
            android:name=".ui.gaokao_news.activity.GaoKaoNewsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.career_planning.activity.SuitableForMyProfessionActivity"
            android:screenOrientation="portrait"/>
        <!--注册-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.account.activity.RegisterActivity">

        </activity>
        <!--绑定手机-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.account.activity.BindPhoneActivity"/>
        <!--设置界面-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.mine.activity.SettingActivity"/>
        <!--个人信息-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.mine.activity.PersonalInfoActivity"/>
        <!--个人信息-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.mine.activity.HelpCenterActivity"/>
        <!--个人信息-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.account.activity.FindPwdActiviy"/>
        <!--启动界面-->
        <activity
            android:screenOrientation="portrait"
            android:theme="@style/Launch"
            android:name=".ui.account.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--webview界面-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.account.activity.WebviewActivity"/>
        <!--开通vip-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.mine.activity.VipActivity"/>
        <!--激活vip-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.mine.activity.ActiveVipActivity"/>
        <!--找大学-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.home.activity.FindCollegeActivity"/>
        <!--看就业-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.home.activity.EmploymentActivity"/>
        <!--加入我们-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.mine.activity.JoinUsActivity"/>
        <!--我的关注-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.mine.activity.FocusActivity"/>
        <!--我的消息-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.mine.activity.MessageActivity"/>
        <!--查专业-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.home.activity.FindMajorActivity"/>
        <!--大学列表-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.home.activity.CollegeListActivity"/>
        <!--搜专业-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.home.activity.SearchOccupationActivity"/>
        <!--专业详情-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.home.activity.OccupationDetailActivity"/>
        <!--院校优先填报-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.home.activity.PriorityCollegeActivity"/>
        <!--智能填报-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.home.activity.IntelligentFillCollegeActivity"/>
        <!--意愿设置-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.home.activity.WillingsSettingActivity"/>
        <!--选择地区-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.home.activity.SelectCollegeAreaActivity"/>
        <!--院校优先填报详情页-->
        <activity android:name=".ui.home.activity.PriorityCollegeDetailsActivity"
            android:screenOrientation="portrait"
            />
    </application>
</manifest>