<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qianyi.shine">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            >


        </activity>
        <!--登录界面-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.account.activity.LoginActivity">

        </activity>
        <!--估分-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.account.activity.GuessScoreActivity"/>
        <!--大学主页-->
        <activity
            android:name=".ui.college.CollegeActivity"
            android:screenOrientation="portrait"
            />
        <!--高考头条-->
        <activity
            android:name=".ui.gaokao_news.activity.GaoKaoNewsActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.account.activity.RegisterActivity">

        </activity>
        <!--绑定手机-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.account.activity.BindPhoneActivity"/>
        <!--设置界面-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.mine.activity.SettingActivity"/>
        <!--个人信息-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.mine.activity.PersonalInfoActivity"/>
        <!--个人信息-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.mine.activity.HelpCenterActivity"/>
        <!--个人信息-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.account.activity.FindPwdActiviy"/>
        <!--启动界面-->
        <activity
            android:screenOrientation="portrait"
            android:theme="@style/Launch"
            android:name=".ui.account.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--webview界面-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.account.activity.WebviewActivity"/>
        <!--开通vip-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.mine.activity.VipActivity"/>
        <!--激活vip-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.mine.activity.ActiveVipActivity"/>
        <!--找大学-->
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.home.FindCollegeActivity"/>
    </application>

</manifest>